<main>  
<center class="hero">
    <h1>Demo of View State Management with Ruby-on-Rails</h1>
    <p> How to manage the state of a highly interactive page, "The Rails Way"™<br><small>Hint : avoid JS over-engineering, and split responsibilities wisely</small></p>
    <div> <a href="https://raw.githubusercontent.com/mblode/marx/master/css/marx.min.css" target="_blank" id="download"><button>Start Demo</button></a> <a href="https://github.com/mblode/marx" target="_blank" id="github"><button>Github</button></a> </div>
  </center>
  <h3 id="is-marx-for-you">Is it for you?</h3>
  <p>If you want to develop highly-interactive web pages, without compromising quality and speed of delivery, this demo is for you.</p>
  <h3 id="key-features">Alternatives</h3>
  <ul>
    <li>Why not simply use a separated, Single-Page App that uses <strong>VueJS</strong>, <strong>React</strong>, <strong>Ember</strong> or any heavy-JS based tool that perfectly does the job ?</li>
    <ul>
      <li>You win in quality, but you loose speed of delivery</li>
    </ul>
    <li>Why not just <strong>sprinkle jQuery</strong> around ?</li>
    <ul>
      <li>You gain tremendous amount speed of delivery first, but you soon loose in quality and maintainability</li>
    </ul>
    <li>You simply use MarionetteJS or VueJS for the pages actually are <i>so</i> complicated.
    <ul>
      <li>Yes, but you loose SEO because those tool handle template themselves. They can't use already-existing DOM.</li>
    </ul>
    <li>You can use Knockout(pre-render), or Angular 1.x
    <ul>
      <li>Yes, but they tend to depreciate, and they don't manage view state in a centralized way.</li>
    </ul>
    <li>You can use Turbolinks + StimulusJS. It's very new, and "the Rails Way" !!
    <ul>
      <li>Yes, if your not too much scared about using fresh new tools... Until your page becomes too interactive and you suddenly heavyly miss .</li>
    </ul>
    <li>You can use Rails + React SSR
    <ul>
      <li>Yes, if your not too much scared about using fresh new tools... Until your page becomes too interactive and you suddenly heavyly miss .</li>
    </ul>
  </ul>
  <p><a href="https://github.com/bdavidxyz/rails-view-state">For more info, check out Demo on Github.</a></p>
  <footer>
    <p>© 2019 · <a href="https://github.com/bdavidxyz/" target="_blank">David Boureau</a></p>
  </footer>
</main>
